<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- 지문 인식 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!--인터넷 권한 선언-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="두더지"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter> <!-- 빌드시 첫 화면 실행-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".BiometricActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asm.ASM_SignatureActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rp.RP_BuyActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.duduhgee.CardEnrollActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.rp.RP_Buy2Activity"
            android:exported="false"/>
        <activity
            android:name="com.example.rp.RP_BuySuccessActivity"
            android:exported="false"/>
    </application>

</manifest>